<div class="col-sm-12">

            <div id="map" style="width: 100%; height: 300px; position: relative; overflow: hidden;">{{ __("Loading...") }}</div>

    <div class="info-window" style="display: none">
        <div class="row">
            <div class="col-sm-3">
                <img src="https://images.unsplash.com/photo-1433878665141-d6ceaf394ae2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=100&h=100&fit=crop&ixid=eyJhcHBfaWQiOjF9&s=4cba43cabc36aea4a5f3165f118c5007" />
            </div>
            <div class="col-sm-9">
                <h6>Some title</h6>
                <h6>By User</h6>
                <div class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</div>
                <h6 class="text-danger">$130</h6>
            </div>
        </div>
    </div>

</div>
