{% extends "layouts.app" %}

{% block search_bar %}
{% endblock %}

{% block content %}
<div class="bg-light window-height" >

    <div class="container-fluid" id="inbox-main-outer">
        <div class="mx-auto " id="inbox-main" style="max-width: 576px;">

            <div class="row pt-5">
                <div class="col-12 " style="">

                    {% block inner %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}


